<h1><%= @movie.title %></h1>
<p><strong>Release date: </strong><%= @movie.release_date%></p>
<p><strong>Genre: </strong><%= @movie.genre %></p>

<%= link_to "Edit", edit_movie_path %> |
<%= link_to "Back", movies_path, method: :get %>
